.exalt-default-header {
	.exalt-header-inner {
		padding-top: 10px;
		padding-bottom: 10px;

		@media only screen and (min-width: 768px) {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		@media only screen and (max-width: 768px) {
			border-bottom: 1px solid var( --exalt-color-border );
		}
	}

	&.exalt-wide-pmenu-inner {
		.exalt-menu-wrapper.exalt-container {
			width: 100%;
		}
	}

}

.exalt-wide-topbar {
	.top-bar-inner.exalt-container {
		width: 100%;
		@media screen and (min-width: 600px) {
			max-width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.exalt-wide-header {
	.exalt-header-inner.exalt-container {
		width: 100%;
		@media screen and (min-width: 600px) {
			max-width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.site-branding-container {
	margin-right: auto;
	display: flex;
	align-items: center;
	//flex-shrink: 0;

	.site-logo {
		margin-right: 1em;
	}
}

.site-title,
.site-description {
	margin-right: 20px;
}

.site-logo img {
	vertical-align: middle;
}

#exalt-search-toggle {
	background-color: transparent;
	border: none;
	color: inherit;
	padding: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;

	.exalt-svg-icon {
		font-size: 1.125em;
        width: 1em;
	}
}

.exalt-top-bar {
	background-color: #F7F6F1;

	.exalt-social-menu {
		a:hover {
			color: var(--exalt-color-link-hover);
		}
	}

	.secondary-menu {
		margin-right: auto;
	}

	a {
		color: #222222;

		&:hover {
			color: var(--exalt-color-text-main);
		}
	}

	.exalt-slideout-toggle {
		font-size: 18px;
		margin-right: 0.8em;
	}
}

.top-bar-inner {
	display: flex;
	align-items: center;
}

.exalt-header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;

	@media only screen and (min-width: 768px) {
		flex-wrap: nowrap;
	}

	.exalt-slideout-toggle {
		margin-left: 10px;
	}
} 

.exalt-default-header.logo-aligned-center {

	.exalt-header-inner {
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;

		> *:not(:first-child) {
			margin-top: 1em;
		}
	}

	.site-branding-container {
		margin: 0 auto;
		flex-direction: column;
	}

	.site-logo {
		margin: 0 auto;
	}

	.exalt-header-sidebar {
		margin-left: auto;
		margin-right: auto;
	}

	.exalt-mobile-menu-toggle {
		margin-right: 0;
		margin-left: 0;
		padding: 10px;
	}

}

.exalt-default-header.logo-aligned-right {

	.exalt-header-inner {
		justify-content: flex-end;
	}

	.exalt-header-sidebar {
		order: -10;
		margin-right: auto;
		margin-left: 0;
	}

	.site-branding-container {
		margin-right: 0;
		margin-left: 1.5em;
	}

	.exalt-mobile-menu-toggle {
		order: -5;
		margin-right: auto;
		margin-left: 0;
		padding: 10px 10px 10px 0;
	}
}

.exalt-line-header.has-header-sb,
.exalt-default-header.has-header-sb {
	@media (max-width: 768px) {
		.exalt-header-inner {
			flex-wrap: wrap;
		}
	}
}

.exalt-default-header.has-header-sb:not(.logo-aligned-center) {
	@media (min-width: 768px) {
		.exalt-header-sidebar {
			flex-basis: 60.66667%;
		}
		.site-branding-container {
			flex-basis: 39.33333%;
		}
	}
}

.exalt-line-header {
	.exalt-header-inner {
		padding-top: 5px;
		padding-bottom: 5px;

		@media screen and (min-width: 768px) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}

.exalt-menu-wrapper {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
}

.exalt-default-header.menu-align-center {
	.exalt-menu-wrapper {
		justify-content: center;
	}
}

.exalt-search-container {
	position: relative;
}

.hide-header-search #exalt-search-box {
	display: none;
}

#exalt-search-toggle .exalt-search-icon {
	display: none;
}

.hide-header-search #exalt-search-toggle .exalt-search-icon {
	display: block;
}

.hide-header-search #exalt-search-toggle .exalt-close-icon {
	display: none;
}

#exalt-search-box {
	position: absolute;
	top: 100%;
	right: 0;
	width: 310px;
	z-index: 99;
}

.exalt-mobile-sidebar {
    bottom: 0;
	color: #ffffff;
    overflow: auto;
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 999999;
    // change this if user needs to open the menu from left.
    right: -100%;
    width: 90vw;
	transition: right 0.2s;

    background-color: var(--exalt-color-main-menu);

    a {
        color: #ffffff;
    }

	div {
		clear: both;
	}

    @media only screen and (min-width: 768px) {
        width: 40vw;
    }

	.exalt-mobile-menu-toggle {
		color: #ffffff;
		font-size: 25px;
	}

	.exalt-social-menu {
		margin: 0 40px 30px 0;
	}

	.exalt-social-menu {
		font-size: 20px;

		li {
			a {
				padding: 5px 10px;
			}

			&:first-child a {
				padding-left: 0;
			}
		}
	}
}

.mobile-menu-opened {
    .exalt-mobile-sidebar {
        // change this if user needs to open the menu from left.
        right: 0;
    }
}

.exalt-mobile-menu-toggle {
	background-color: transparent;
	border: none;
	color: #000000;
	font-size: 21px;
	padding: 10px;

	&:hover {
		background-color: transparent;
		color: #000000;
	}

	&:active,
	&:focus {
		background-color: transparent;
	}
}

.exalt-slideout-toggle {
	background-color: transparent;
	border: none;
	color: inherit;
	font-size: 21px;
	padding: 0 10px;

	&:hover {
		background-color: transparent;
		color: inherit;
	}

	&:active,
	&:focus {
		background-color: transparent;
	}

	// span {
	// 	display: block;
	// 	background: #000000;
	// 	height: 1px;
	// 	width: 23px;
	// 	position: absolute;
	// 	left: 0;
	// 	border: 1px solid #000000;
	// 	border-radius: 1px;
	// }
}

// .exaltst-bars {
// 	position: relative;
// 	width: 45px;
// 	height: 15px;
// }

// span.exaltst1 {
// 	top: 0px;
// 	width: 23px;
// }

// span.exaltst2 {
// 	top: 7px;
// 	width: 17px;
// }

// span.exaltst3 {
// 	top: 14px;
// 	width: 11px;
// }

.exalt-slideout-sidebar {
	background-color: #ffffff;
    bottom: 0;
	color: var(--exalt-color-text-main);
    overflow: auto;
    padding: 0 30px;
    position: fixed;
    top: 0;
    z-index: 999999;
    // change this if user needs to open the menu from left.
    right: -100%;
    width: 90vw;
	transition: right 0.2s;

    a {
        color: var(--exalt-color-text-main);
    }

    @media only screen and (min-width: 768px) {
        width: 50vw;
		max-width: 400px;
    }

	.exalt-slideout-toggle {
		width: 45px;
		height: 50px;
	}
}

.exalt-menu-bars-close {
	display: none;
}

.slideout-opened {
    .exalt-slideout-sidebar {
        // change this if user needs to open the menu from left.
        right: 0;
    }

	.exalt-menu-bars-close {
		display: block;
	}

	.exalt-menu-bars {
		display: none;
	}
}

.exalt-slideout-top {
	border-bottom: 1px solid var(--exalt-color-border);
	margin-bottom: 10px;
}

.exalt-overlay-mask {
	background-color: rgba( 0, 0, 0, 0.5 );
	content: '';
	inset: 0;
	position: fixed;
	z-index: 999998;
}

.exalt-menu.desktop-only,
.desktop-only {
	display: none;

	@media only screen and (min-width: 768px) {
		display: block;
	}
}

.exalt-header-sidebar {
	margin-left: auto;
}

@media only screen and (max-width: 768px) {
	.exalt-header-sidebar {
		order: 2;
		width: 100%;
		margin: 1em 0 0;
	}
}

#exalt-search-box {
	width: 350px;
	padding: 10px;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
	background-color: var(--exalt-color-body-background);

	form.search-form {
		display: flex;
		flex-wrap: nowrap;
	}

	input.search-submit {
		height: 40px;
		padding: 0 20px;
		line-height: 40px;
	}

	label {
		flex-grow: 1;
	}

	input.search-field {
		height: 40px;
		border: none;
		border-radius: 0;
		width: 100%;

		&:focus {
			outline: none;
			border-bottom: 1px solid var(--exalt-color-border);
		}
	}
}

.exalt-breadcrumb-wrap {
	margin-bottom: 15px;
	font-size: var( --exalt-font-size-xs );
	font-weight: 500;
}

.exalt-header-bar {
	.exalt-breadcrumb-wrap {
		padding: 10px 15px;
		margin-bottom: 0;
		border-bottom: 1px solid var(--exalt-color-border);
	}
}

.exalt-header-image {
	img {
		width: 100%;
		height: auto;
		vertical-align: middle;
	}
}